*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2b2e56;
}
.grid-container{
    /* border: 1px solid black; */
    padding: 20px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    width: 60%;
    justify-content: center;
}
.green{
    background-color:#6dbe4f;
    
    
}
.yellow{
    background-color: #fbb22f;
}
.red{
    background-color: #ec3437;
}
.children{
    border: 1px solid black;
    text-align: center;
    font-size: 32px; 
}
#children-1{
    grid-column: 1/2;
    grid-row: 1/5;
}
#children-2{
    grid-column: 2/4;
}
#children-6{
    grid-column: 4/5;
    grid-row: 2/4;
}

@media(max-width:900px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 150px);
    }
    
    #children-1{
    grid-row: auto;
    grid-column: auto;
    }
    #children-2{
        grid-column: auto;
        grid-row: auto;
    } 
}
    @media(max-width:600px){
        .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 150px);
        }
    }